In [2]:
!pip install plotly

Collecting plotly
  Downloading plotly-4.5.3-py2.py3-none-any.whl (7.1 MB)
Requirement already satisfied: six in c:\users\armstrong\anaconda3\lib\site-packages (from plotly) (1.14.0)
Collecting retrying>=1.3.3
  Downloading retrying-1.3.3.tar.gz (10 kB)
Building wheels for collected packages: retrying
  Building wheel for retrying (setup.py): started
  Building wheel for retrying (setup.py): finished with status 'done'
  Created wheel for retrying: filename=retrying-1.3.3-py3-none-any.whl size=11435 sha256=bc45942e026c714c8e51c39e2846b205686f7765ccf185a8fa9e79782602d444
  Stored in directory: c:\users\armstrong\appdata\local\pip\cache\wheels\f9\8d\8d\f6af3f7f9eea3553bc2fe6d53e4b287dad18b06a861ac56ddf
Successfully built retrying
Installing collected packages: retrying, plotly
Successfully installed plotly-4.5.3 retrying-1.3.3

In [3]:
# Import dependencies for data transformation, analysis and plotting

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st
import random
import seaborn as sns
import plotly.graph_objects as go
from plotly.offline import init_notebook_mode, iplot

In [4]:
# Import PS4 dataset
PS4_data = pd.read_csv("PS4_GamesSales.csv", encoding = "ISO-8859-1")   
PS4_data.head()

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80

In [5]:
# Add Platform column to PS4
Platform = "PS4"
PS4_data["Platform"] = Platform
PS4_data.head()

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Platform
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39,PS4
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09,PS4
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94,PS4
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40,PS4
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80,PS4

In [6]:
# Import Xbox dataset

XboxOne_data = pd.read_csv("XboxOne_GameSales.csv", encoding = "ISO-8859-1")    
XboxOne_data.head()

,Pos,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,1,Grand Theft Auto V,2014.0,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72
1,2,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,4.63,2.04,0.02,0.68,7.37
2,3,Call of Duty: WWII,2017.0,Shooter,Activision,3.75,1.91,0.00,0.57,6.23
3,4,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,3.76,1.47,0.00,0.54,5.77
4,5,MineCraft,2014.0,Misc,Microsoft Studios,3.23,1.71,0.00,0.49,5.43

In [7]:
# Add platform column to Xbox

Platform = "XOne"
XboxOne_data["Platform"] = Platform
XboxOne_data.head()

,Pos,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Platform
0,1,Grand Theft Auto V,2014.0,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72,XOne
1,2,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,4.63,2.04,0.02,0.68,7.37,XOne
2,3,Call of Duty: WWII,2017.0,Shooter,Activision,3.75,1.91,0.00,0.57,6.23,XOne
3,4,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,3.76,1.47,0.00,0.54,5.77,XOne
4,5,MineCraft,2014.0,Misc,Microsoft Studios,3.23,1.71,0.00,0.49,5.43,XOne

In [8]:
# Import Video Game Sales dataset

Video_Games_Sales = pd.read_csv("Video_Games_Sales_as_at_22_Dec_2016.csv", encoding = "ISO-8859-1")    #('../Resources/trip.csv')
Video_Games_Sales.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Add ID key to Video Game Sales dataframe

ID_key = Video_Games_Sales["Name"] + Video_Games_Sales["Platform"]
Video_Games_Sales["ID_key"] = ID_key
Video_Games_Sales.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,ID_key
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E,Wii SportsWii
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,Super Mario Bros.NES
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,Mario Kart WiiWii
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E,Wii Sports ResortWii
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN,Pokemon Red/Pokemon BlueGB

In [10]:
# Reorganize and remove unnecessary columns from Video Game Sales dataframe

Final_VGSales = Video_Games_Sales[['ID_key','Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']]
Final_VGSales.head()

,ID_key,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii SportsWii,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53
1,Super Mario Bros.NES,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart WiiWii,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52
3,Wii Sports ResortWii,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77
4,Pokemon Red/Pokemon BlueGB,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [11]:
# Add ID key to XboxOne dataframe

ID_key = XboxOne_data["Game"] + XboxOne_data["Platform"]
XboxOne_data["ID_key"] = ID_key
XboxOne_data.head()

,Pos,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Platform,ID_key
0,1,Grand Theft Auto V,2014.0,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72,XOne,Grand Theft Auto VXOne
1,2,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,4.63,2.04,0.02,0.68,7.37,XOne,Call of Duty: Black Ops 3XOne
2,3,Call of Duty: WWII,2017.0,Shooter,Activision,3.75,1.91,0.00,0.57,6.23,XOne,Call of Duty: WWIIXOne
3,4,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,3.76,1.47,0.00,0.54,5.77,XOne,Red Dead Redemption 2XOne
4,5,MineCraft,2014.0,Misc,Microsoft Studios,3.23,1.71,0.00,0.49,5.43,XOne,MineCraftXOne

In [12]:
# Add ID key to PS4 dataframe

ID_key = PS4_data["Game"] + PS4_data["Platform"]
PS4_data["ID_key"] = ID_key
PS4_data.head()

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Platform,ID_key
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39,PS4,Grand Theft Auto VPS4
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09,PS4,Call of Duty: Black Ops 3PS4
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94,PS4,Red Dead Redemption 2PS4
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40,PS4,Call of Duty: WWIIPS4
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80,PS4,FIFA 18PS4

In [13]:
# Reorganize PS4 columns to match Video Game Sales columns

organized_PS4 = PS4_data[['ID_key', 'Game','Platform', 'Year', 'Genre', 'Publisher', 'North America', 'Europe',
       'Japan', 'Rest of World', 'Global']]
organized_PS4.head()

,ID_key,Game,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto VPS4,Grand Theft Auto V,PS4,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3PS4,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2PS4,Red Dead Redemption 2,PS4,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWIIPS4,Call of Duty: WWII,PS4,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18PS4,FIFA 18,PS4,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80

In [14]:
# Rename PS4 columns to match Video Game Sales columns

Final_PS4 = organized_PS4.rename(columns={"Game":"Name", "Year":"Year_of_Release", "North America":"NA_Sales","Europe":"EU_Sales","Japan":"JP_Sales","Rest of World":"Other_Sales","Global":"Global_Sales"})
Final_PS4.head()

,ID_key,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Grand Theft Auto VPS4,Grand Theft Auto V,PS4,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3PS4,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2PS4,Red Dead Redemption 2,PS4,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWIIPS4,Call of Duty: WWII,PS4,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18PS4,FIFA 18,PS4,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80

In [15]:
# Reorganize Xbox columns to match Video Game Sales columns

organized_Xbox = XboxOne_data[['ID_key', 'Game','Platform', 'Year', 'Genre', 'Publisher', 'North America', 'Europe',
       'Japan', 'Rest of World', 'Global']]
organized_Xbox.head()

,ID_key,Game,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto VXOne,Grand Theft Auto V,XOne,2014.0,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72
1,Call of Duty: Black Ops 3XOne,Call of Duty: Black Ops 3,XOne,2015.0,Shooter,Activision,4.63,2.04,0.02,0.68,7.37
2,Call of Duty: WWIIXOne,Call of Duty: WWII,XOne,2017.0,Shooter,Activision,3.75,1.91,0.00,0.57,6.23
3,Red Dead Redemption 2XOne,Red Dead Redemption 2,XOne,2018.0,Action-Adventure,Rockstar Games,3.76,1.47,0.00,0.54,5.77
4,MineCraftXOne,MineCraft,XOne,2014.0,Misc,Microsoft Studios,3.23,1.71,0.00,0.49,5.43

In [16]:
# Rename Xbox columns to match Video Game Sales columns

Final_XOne = organized_Xbox.rename(columns={"Game":"Name", "Year":"Year_of_Release", "North America":"NA_Sales","Europe":"EU_Sales","Japan":"JP_Sales","Rest of World":"Other_Sales","Global":"Global_Sales"})
Final_XOne.head()

,ID_key,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Grand Theft Auto VXOne,Grand Theft Auto V,XOne,2014.0,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72
1,Call of Duty: Black Ops 3XOne,Call of Duty: Black Ops 3,XOne,2015.0,Shooter,Activision,4.63,2.04,0.02,0.68,7.37
2,Call of Duty: WWIIXOne,Call of Duty: WWII,XOne,2017.0,Shooter,Activision,3.75,1.91,0.00,0.57,6.23
3,Red Dead Redemption 2XOne,Red Dead Redemption 2,XOne,2018.0,Action-Adventure,Rockstar Games,3.76,1.47,0.00,0.54,5.77
4,MineCraftXOne,MineCraft,XOne,2014.0,Misc,Microsoft Studios,3.23,1.71,0.00,0.49,5.43

In [17]:
Final_VGSales

,ID_key,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii SportsWii,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53
1,Super Mario Bros.NES,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart WiiWii,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52
3,Wii Sports ResortWii,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77
4,Pokemon Red/Pokemon BlueGB,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada MaruPS3,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01
16715,LMA Manager 2007X360,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01
16716,Haitaka no PsychedelicaPSV,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01
16717,Spirits & SpellsGBA,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01
16718,Winning Post 8 2016PSV,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01

In [18]:
Sales_plus_PS4 = Final_VGSales.append(Final_PS4)
Sales_plus_PS4

,ID_key,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii SportsWii,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53
1,Super Mario Bros.NES,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart WiiWii,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52
3,Wii Sports ResortWii,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77
4,Pokemon Red/Pokemon BlueGB,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
1029,Fallen Legion: Flames of RebellionPS4,Fallen Legion: Flames of Rebellion,PS4,NaN,Role-Playing,NaN,0.00,0.00,0.00,0.00,0.00
1030,Radial G Racing RevolvedPS4,Radial G Racing Revolved,PS4,2017.0,Racing,Tammeka Games,0.00,0.00,0.00,0.00,0.00
1031,The Mummy DemasteredPS4,The Mummy Demastered,PS4,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00
1032,Project Nimbus: Code MiraiPS4,Project Nimbus: Code Mirai,PS4,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00
1033,Battle Chef BrigadePS4,Battle Chef Brigade,PS4,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00

In [19]:
Final_VGData = Sales_plus_PS4.append(Final_XOne)
Final_VGData

,ID_key,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii SportsWii,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53
1,Super Mario Bros.NES,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart WiiWii,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52
3,Wii Sports ResortWii,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77
4,Pokemon Red/Pokemon BlueGB,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
608,BiomutantXOne,Biomutant,XOne,2018.0,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00
609,BiomutantXOne,Biomutant,XOne,2019.0,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00
610,de BlobXOne,de Blob,XOne,2017.0,Platform,THQ Nordic,0.00,0.00,0.00,0.00,0.00
611,Outcast: Second ContactXOne,Outcast: Second Contact,XOne,2017.0,Adventure,Bigben Interactive,0.00,0.00,0.00,0.00,0.00
612,Code VeinXOne,Code Vein,XOne,2019.0,Action,Bandai Namco Entertainment,0.00,0.00,0.00,0.00,0.00

In [20]:
#Final_VGData['Year_of_Release'] = pd.to_datetime(Final_VGData['Year_of_Release'])

In [22]:
Final_VGData.dtypes
#Final_VGData.astype({'Year_of_Release': 'int'}).dtypes

ID_key                     object
Name                       object
Platform                   object
Year_of_Release    datetime64[ns]
Genre                      object
Publisher                  object
NA_Sales                  float64
EU_Sales                  float64
JP_Sales                  float64
Other_Sales               float64
Global_Sales              float64
dtype: object

In [ ]:
Final_VGData.to_csv("Final_VGData.csv", index=False, header=True)

In [ ]:
Final_VGData.info()

In [ ]:
# Global Sales by Publisher
publisher_global = Final_VGData.groupby("Publisher")["Global_Sales"].sum()

publisher_global.head()

In [ ]:
# Global Sales by Platform
platform_global = Final_VGData.groupby("Platform")["Global_Sales"].sum()

platform_global.head()

In [ ]:
# Regional and Rest-of-world Sales by Publisher

publisher_NA = Final_VGData.groupby("Publisher")["NA_Sales"].sum()
publisher_EU = Final_VGData.groupby("Publisher")["EU_Sales"].sum()
publisher_JP = Final_VGData.groupby("Publisher")["JP_Sales"].sum()
publisher_Other = Final_VGData.groupby("Publisher")["Other_Sales"].sum()


# Regional and Rest-of-world Sales by Publisher

platform_NA = Final_VGData.groupby("Platform")["NA_Sales"].sum()
platform_EU = Final_VGData.groupby("Platform")["EU_Sales"].sum()
platform_JP = Final_VGData.groupby("Platform")["JP_Sales"].sum()
platform_Other = Final_VGData.groupby("Platform")["Other_Sales"].sum()

In [ ]:
# Global Sales by Platform Chart

fig=plt.figure(figsize=(30,20))
plt.subplots_adjust(left=0.25, wspace=0.20, hspace=0.35)
sns.set_style("white")

plt.subplot(2, 2, 1)
plt.title('Global Sales by Platform',fontdict={'fontsize':16})
plt.xticks(fontsize=14)
plt.yticks(fontsize=14)
sns.barplot(y='Platform', x='Global_Sales', data=Final_VGData.groupby('Platform').sum().Global_Sales.sort_values(ascending=False).reset_index(),palette='YlOrRd_r');
plt.ylabel('Platform',fontdict={'fontsize':16})
plt.xlabel('Sales in millions',fontdict={'fontsize':16})

In [ ]:
# Global Sales by Publisher chart

fig=plt.figure(figsize=(30,20))
plt.subplots_adjust(left=0.25, wspace=0.20, hspace=0.35)
sns.set_style("white")

plt.subplot(2, 2, 1)
plt.title('Top 25 Global Sales by Publisher',fontdict={'fontsize':16})
plt.xticks(fontsize=14)
plt.yticks(fontsize=14)
sns.barplot(y='Publisher', x='Global_Sales', data=Final_VGData.groupby('Publisher').sum().nlargest(25,'Global_Sales').Global_Sales.sort_values(ascending=False).reset_index(),palette='YlOrRd_r');
plt.ylabel('Publisher',fontdict={'fontsize':16})
plt.xlabel('Sales in millions',fontdict={'fontsize':16})

In [ ]:
# NA Sales by Platform Chart

fig=plt.figure(figsize=(30,20))
plt.subplots_adjust(left=0.25, wspace=0.20, hspace=0.35)
sns.set_style("white")

plt.subplot(2, 2, 1)
plt.title('North America Sales by Platform',fontdict={'fontsize':16})
plt.xticks(fontsize=14)
plt.yticks(fontsize=14)
sns.barplot(y='Platform', x='NA_Sales', data=Final_VGData.groupby('Platform').sum().NA_Sales.sort_values(ascending=False).reset_index(),palette='YlOrRd_r');
plt.ylabel('Platform',fontdict={'fontsize':16})
plt.xlabel('Sales in millions',fontdict={'fontsize':16})

In [ ]:
# EU Sales by Platform Chart

fig=plt.figure(figsize=(30,20))
plt.subplots_adjust(left=0.25, wspace=0.20, hspace=0.35)
sns.set_style("white")

plt.subplot(2, 2, 1)
plt.title('Europe Sales by Platform',fontdict={'fontsize':16})
plt.xticks(fontsize=14)
plt.yticks(fontsize=14)
sns.barplot(y='Platform', x='EU_Sales', data=Final_VGData.groupby('Platform').sum().EU_Sales.sort_values(ascending=False).reset_index(),palette='YlOrRd_r');
plt.ylabel('Platform',fontdict={'fontsize':16})
plt.xlabel('Sales in millions',fontdict={'fontsize':16})

In [ ]:
# JP Sales by Platform Chart

fig=plt.figure(figsize=(30,20))
plt.subplots_adjust(left=0.25, wspace=0.20, hspace=0.35)
sns.set_style("white")

plt.subplot(2, 2, 1)
plt.title('Japan Sales by Platform',fontdict={'fontsize':16})
plt.xticks(fontsize=14)
plt.yticks(fontsize=14)
sns.barplot(y='Platform', x='JP_Sales', data=Final_VGData.groupby('Platform').sum().JP_Sales.sort_values(ascending=False).reset_index(),palette='YlOrRd_r');
plt.ylabel('Platform',fontdict={'fontsize':16})
plt.xlabel('Sales in millions',fontdict={'fontsize':16})

In [ ]:
# Other (Rest-of-world) Sales by Platform Chart

fig=plt.figure(figsize=(30,20))
plt.subplots_adjust(left=0.25, wspace=0.20, hspace=0.35)
sns.set_style("white")

plt.subplot(2, 2, 1)
plt.title('Rest-of-world Sales by Platform',fontdict={'fontsize':16})
plt.xticks(fontsize=14)
plt.yticks(fontsize=14)
sns.barplot(y='Platform', x='Other_Sales', data=Final_VGData.groupby('Platform').sum().Other_Sales.sort_values(ascending=False).reset_index(),palette='YlOrRd_r');
plt.ylabel('Platform',fontdict={'fontsize':16})
plt.xlabel('Sales in millions',fontdict={'fontsize':16})

In [ ]:
# Find a way to get a single chart that compares regional sales by publisher, and then another to compare regional by platform